:root {
  --main-bg-color: rgb(245, 245, 245);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(17, 17, 17);
  perspective: 1000px;
}
.logo {
  width: 400px;
  margin: auto;
  padding: 20px;
  transition: all ease-in 300ms;
}
.logo:hover {
  transform: scale(1.2);
}
.container {
  width: 80%;
  background: rgba(22, 22, 22, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
}
.card {
  min-height: 80vh;
  width: 35rem;
  padding: 0em 2rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
.pokemon {
  min-height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.75s ease-out;
}

.pokemon img {
  width: 18rem;
  z-index: 2;
  filter: drop-shadow(0.3rem 0.3rem 0 rgb(27, 27, 27));
  transition: all 0.75s ease-out;
  transform-style: preserve-3d;
}

.circle {
  width: 12rem;
  height: 12rem;
  background: var(--main-bg-color);
  position: absolute;
  box-shadow: 0 10px 5px var(--main-bg-color), 0px 0px 5px var(--main-bg-color);
  border-radius: 50%;
  z-index: 1;
}
.info h1 {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}
.info h3 {
  font-size: 2rem;
  padding: 1rem 0rem;
  font-weight: lighter;
}
.info h3,
.info h1,
.info-stats {
  color: var(--main-bg-color);
}
.input input {
  width: 100%;
  margin-top: 10px;
  padding: 1rem 0rem;
  background: none;
  border: 2px solid var(--main-bg-color);
  color: var(--main-bg-color);
  border-radius: 5px;
  font-weight: bold;
  outline: none;
  text-align: center;
  font-size: 1.2rem;
  caret-color: var(--main-bg-color);
}
input::selection {
  color: var(--main-bg-color);
}
.input input::placeholder {
  color: var(--main-bg-color);
  opacity: 0.3;
}
.types {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.9rem;
  color: rgb(10, 10, 10);
  text-align: center;
  background: var(--main-bg-color);
  width: 100px;
  height: 40px;
  text-transform: uppercase;
  margin-bottom: 10px;
  border-radius: 5px;
}
/* stats */

.stats-bar {
  display: inline-flex;
  padding: 10px;
  margin-left: 20px;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 0 rgba(0, 0, 0, 0.2);
  height: 20px;
  width: 300px;
  /* border-radius: 5px; */
  background: var(--main-bg-color);
  transition: all ease-in-out 500ms;
}

.info-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0rem;
  height: 100%;
  align-content: space-around;
  justify-content: space-around;
  font-weight: lighter;
}
.info-stats .stats {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
.card-stats {
  min-height: 50vh;
  width: 35rem;
  padding: 0em 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
.invalid {
  background: rgb(255, 55, 41);
  color: #fff;
  font-size: 1.2em;
  text-align: center;
}

/* stats */

.hp,
.atk,
.def,
.spAtk,
.spDef {
  display: inline-flex;
  padding: 10px;
  margin-left: 20px;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.2), 0 10px 0 rgba(0, 0, 0, 0.2);
  height: 25px;
  width: 300px;
  border-radius: 5px;
  background: var(--main-bg-color);
  transition: all ease-in-out 500ms;
}
